<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tehei</title>
    <link rel="icon" href="https://i.ibb.co/5kX6vJr/tehei-icon.jpg" alt="tehei-icon">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
    <link rel="stylesheet" href="../css/home.css" type="text/css" />
    <link rel='stylesheet' href='../css/user.css' type="text/css" />
    

</head>

<body>
    <main id="bodyMain">
        <div id="divBody">
        <div id="tela">
            <header id="cabecalho">
                <nav id="menu">
                    <ol>
                        <li> <a href="/"> HOME </a> </li>
                        <li id="btn_login"> <a href="/usuario/sair"> Sign Out </a> </li>
                         <p class="user_welcome">  </p> 
                    </ol>

                    <!--  <img src="_imagens/loupe.png">  AQUI VAI UM ONCLICK-->
                </nav>
            </header>
            
            <div id="workspace">
                <nav id="user_nav">
                    <ul id:"user_menu">
                        <li class="liMenu"><a href="/">Home</a></li>
                        <li class="liMenu"><a href="../../filme/create">Adicionar Filme</a></li>
                        <li class="liMenu"><a href="../../livro/create">Adicionar Livro</a></li>
                        <li class="liMenu"><a href="/usuario/sair">Sair</a></li>
                    </ul>
                </nav>
                <div class="user_area">
                    <nav class="nav_tabs">
                        <ul>
                            <li>
                                <input type="radio" id="tab1" class="rd_tab" name="tabs" checked>
                                <label for="tab1" class="tab_label">Filmes</label>
                                <div class="tab-content">
                                    <div id="filme_edit">
                                        <table id="tabela" class="table table-hover">
                                            <thead>
                                                <th class="del"></th>
                                                <th class="edit"></th>
                                                <th class="tdth_normal">Nome</th>
                                                <th class="tdth_normal">Diretor</th>
                                                <th class="tdth_normal">Genero</th>
                                                <th class="tdth_normal">Ano</th>
                                            </thead>
                                            <tbody>
                                                <% filmes.forEach(function(filme) { %>
                                                <tr class="tss">
                                                    <th class="del"><a href="filme/<%= filme.id %>"><button
                                                                class="btn_crud">DEL</button></a></th>
                                                    <th class="edit"><a href="filme/edit/<%= filme.id %>"><button
                                                                class="btn_crud">EDIT</button></a></th>
                                                    <td class="tdth_normal"><%= filme.nome %></td>
                                                    <td class="tdth_normal"><%= filme.diretor %></td>
                                                    <td class="tdth_normal"><%= filme.genero %></td>
                                                    <td class="tdth_normal"><%= filme.ano %></td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <input type="radio" name="tabs" class="rd_tab" id="tab2">
                                <label for="tab2" class="tab_label">Livros</label>
                                <div class="tab-content">

                                    <div id="livro_edit">
                                        <table id="tabela" class="table table-hover">
                                            <thead>
                                                <th class="del"></th>
                                                <th class="edit"></th>
                                                <th class="tdth_normal">Nome</th>
                                                <th class="tdth_normal">Autor</th>
                                                <th class="tdth_normal">Genero</th>
                                                <th class="tdth_normal">Ano</th>
                                            </thead>
                                            <tbody>
                                                <% livros.forEach(function(livro) { %>
                                                <tr>
                                                    <th class="del"><a href="livro/<%= livro.id %>"><button
                                                                class="btn_crud">DEL</button></a></th>
                                                    <th class="edit"><a href="livro/edit/<%= livro.id %>"><button
                                                                class="btn_crud">EDIT</button></a></th>
                                                    <td class="tdth_normal"><%= livro.nome %></td>
                                                    <td class="tdth_normal"><%= livro.autor %></td>
                                                    <td class="tdth_normal"><%= livro.genero %></td>
                                                    <td class="tdth_normal"><%= livro.ano %></td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <footer>
                <% include ../footer.ejs %>
        </footer>
        </div>

    </main>
    
</body>

</html>